<p></p>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Informações sobre o sistema</h3>
  </div>
  <div class="panel-body">
		<p>Este sistema foi desenvolvido para auxiliar no controle do condomínio San Raphael. Ele possui cadastros simples que poderão ajudar a gestão
		a tomar providências de maneira mais rápida e precisa.</p>
		<p>Os dados estão guardados em um servidor brasileiro da <a href="http://www.locaweb.com.br" target="_blank">Empresa Locaweb</a> e ainda contam com criptografia 
		na transmissão e gravação das informações mais importantes, como documentos pessoais.</p>
		<p>Além disso, o sistema conta com um mecanismo de perfil de acesso, onde cada usuário terá permissão para ler somente o que lhe é permitido.
		Por exemplo: o porteiro terá somente acesso a dados superficiais dos moradores.</p>
		<div class="bs-callout bs-callout-danger">
		  <h4>Observação</h4>
		  As definições dos perfis de acesso, assim como todos os requisitos do sistema, sempre poderão ser distutidos em assembléia.
		</div>
		<p>Este software está sempre em atualização, seja para correção de bug's, seja para atendê-los em qualquer dificuldade. Assim, 
		sua participação no preenchimento dos dados e na melhoria desta ferramenta, é muito importante.</p>
		<p>Nos colocamos à disposição para qualquer dúvida no email <a href="mailto:ajuda@condominiosanraphael.com.br">ajuda@condominiosanraphael.com.br</a></p>
		<br />
		
		<p>Hernani - Síndico<br />
		Paulo André Barbosa - Sub síndico<br />
		Brasília, 15 de novembro de 2016.
		</p>
  </div>
</div>