<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">TERMO DE USO DO SISTEMA</h3>
	</div>
	<div class="panel-body" style="line-height: 2.5;">
		<p>O acesso do usuário a este Site e a utilização do mesmo ficam sujeitos
		aos termos e condições abaixo, bem como à legislação vigente. Ao
		acessar e navegar por este Site, o usuário aceita, sem limitação ou
		qualificação, os Termos e Condições aqui estipulados e fica ciente de
		que quaisquer outros contratos ou acordos entre o visitante e a
		Novartis AG tornam-se nulos e inexequíveis.</p>
		<ol>
			<li>O usuário está autorizado a descarregar, exibir ou imprimir
				informações contidas neste Site "Informações" exclusivamente para
				uso privado e sem finalidades comerciais. O usuário deverá manter e
				reproduzir todo e qualquer aviso de copyrights e demais avisos de
				direitos de exclusividade constantes nos avisos por ele
				descarregados. Entretanto, é vedado ao usuário distribuir,
				modificar, transmitir, re-utilizar, re-incluir ou utilizar o
				conteúdo do Site para fins públicos ou comerciais, incluindo o
				texto, imagens, áudio e vídeo sem a autorização expressa da Novartis
				AG. O usuário deverá tratar todo o conteúdo deste Site de acordo com
				sua condição de protegido pela lei de direitos autorais copyright,
				observadas quaisquer disposições em contrário e não poderá ser
				utilizado salvo conforme disposições destes Termos e Condições ou no
				texto do Site sem a autorização expressa do Condomínio San Raphael. A Novartis
				AG não garante ou declara que a utilização, pelo usuário, de
				materiais exibidos no Site não venham a violar direitos de
				terceiros, não pertencentes à Novartis ou por ela controlados.</li>
				
			<li>Com exceção da autorização limitada acima, a utilização
				deste Site não implica em cessão ao usuário de licenças ou direitos
				sobre quaisquer copyrights, sejam pertencentes à Novartis ou a
				terceiros.</li>

			<li>Os sites da Novartis na Internet podem conter ou citar
				marcas registradas, patentes, informações, tecnologias, produtos,
				processos ou outros direitos protegidos por patentes de propriedade
				do Condomínio San Raphael, suas subsidiárias ou de terceiros. Sob hipótese
				nenhuma a utilização deste Site implica em cessão ao usuário das
				citadas marcas registradas, patentes, informações, tecnologias,
				produtos, processos ou outros direitos protegidos por patentes de
				propriedade do Condomínio San Raphael, suas subsidiárias ou de terceiros.</li>

			<li>Embora o Condomínio San Raphael utilize todos os recursos ao seu
				alcance para exibir informações exatas e atualizadas no Site, a
				mesma se abstém de dar garantias ou declarações relativamente ao
				conteúdo deste Site, que deve ser entendido "no estado em que se
				encontram". o Condomínio San Raphael não aceita quaisquer responsabilidades
				decorrentes ou relativas à utilização deste Site e de seu conteúdo.
				Em especial, o Condomínio San Raphael não se responsabiliza pela precisão,
				integridade, pertinência, oportunidade ou abrangência das
				informações contidas neste Site. o Condomínio San Raphael Também não responderá
				por danos ou vírus que possam vir a infectar o computador ou
				equipamento ou outros bens decorrentes do acesso do usuário ao Site
				ou da navegação pelo mesmo ou por descarregar quaisquer materiais,
				dados, textos, imagens, vídeos ou áudios incluídos no Site. A
				Novartis AG reserva o direito de interromper ou desativar quaisquer
				atividades do Site. A entidade do Grupo Novartis que controla este
				Site não responderá sob hipótese alguma por qualquer interrupção ou
				desativação de uma ou mais atividades deste Site, seja decorrente de
				ações ou omissões de uma entidade do Grupo Novartis ou de terceiros.</li>

			<li>Qualquer comunicação ou material transmitido pelo usuário ao
				Site via e-mail ou outra forma de transmissão, incluindo dados,
				perguntas, comentários, sugestões e similares serão tratados como
				não sigilosa e não protegida. Qualquer material transmitido ou
				incluído pelo usuário torna-se automaticamente propriedade da
				Novartis AG e suas subsidiárias e poderá ser usado para quaisquer
				fins, incluindo, dentre outros, reprodução, divulgação, transmissão,
				publicação, transmissão ou inclusão. Ademais, o Condomínio San Raphael terá a
				liberdade de usar ideias, conceitos, know-how ou técnicas contidas
				em qualquer comunicação transmitida pelo usuário ao Site para
				quaisquer fins, incluindo, dentre outros, desenvolvimento,
				fabricação e comercialização de produtos utilizando as referidas
				informações.</li>

			<li>As informações poderáo conter inexatidões técnicas ou erros
				de digitação. o Condomínio San Raphael reserva o direito de fazer alterações,
				correções e melhorias nas Informações e nos produtos e programas
				descritos nas referidas informações a qualquer momento e sem prévio
				aviso.</li>
			<li>Os sites do Condomínio San Raphael na Internet poderáo conter
				informações sobre seus produtos e serviços em âmbito mundial, sendo
				que nem todos estarão necessariamente disponíveis em todas as
				localidades. O fato de haver uma menção a um produto ou serviço da
				Novartis AG em um site do Condomínio San Raphael na Internet não significa que
				o referido produto ou serviço estará disponível na localidade
				específica do usuário. O usuário deverá ter como base as informações
				criadas especificamente para a sua localidade. Essas informações
				poderáo ser encontradas nos sites das subsidiárias do Condomínio San Raphael em
				sua localidade.</li>

			<li>Considerando que o Condomínio San Raphael não tem controle ou tampouco
				endossa qualquer um dos sites aos quais o seu Site tem um link e
				considerando que a Novartis não verificou nenhum dos referidos
				sites, o usuário está ciente de que o Condomínio San Raphael não se
				responsabiliza pelo conteúdo de páginas fora de seu Site ou outros
				sites com link para o seu Site. Ao utilizar um link para o seu Site,
				páginas fora do seu Site ou outros sites, o usuário está agindo por
				sua própria conta e risco e sem a permissão do Condomínio San Raphael. Ao
				utilizar os referidos links, o usuário fica ciente de que se aplicam
				a nota legal e a política de privacidade do site remetido pelo link,
				as quais poderáo divergir das políticas do Condomínio San Raphael.</li>

			<li>Embora o Condomínio San Raphael possa ocasionalmente monitorar ou
				examinar discussões, salas de bate-papo, inclusões, transmissões,
				murais e similares no Site, o Condomínio San Raphael não fica obrigada a
				fazê-lo e não assume quaisquer responsabilidades decorrentes do
				conteúdo dos referidos locais ou tampouco por erros, calúnia ou
				difamação, sejam escritas ou verbais, omissão, falsidade,
				obscenidade, pornografia, profanação, perigo ou inexatidão
				eventualmente contidos em informações nos referidos locais ou Sites.
				Ao usuário é terminantemente proibido incluir ou transmitir qualquer
				material ilícito, ameaçador, difamador, obsceno, escandaloso,
				polêmico, pornográfico ou profano ou qualquer material que possa
				constituir ou estimular condutas que sejam consideradas delito
				criminal ou que venham a ensejar responsabilidade civil ou outrossim
				constituam transgressão da lei. O Condomínio San Raphael dará sua total
				cooperação às autoridades encarregadas de atender às disposições
				legais ou por determinação judicial solicitando ou orientando a
				Novartis AG a revelar a identidade de qualquer pessoa que tenha
				transmitido as referidas informações ou materiais.</li>

			<li>o Condomínio San Raphael poderá a qualquer momento alterar estes Termos
				e Condições, atualizando o seu conteúdo. O usuário ficará sujeito a
				eventuais revisões e deverá, portanto, visitar esta página
				periodicamente para rever os Termos e Condições vigentes na época da
				visita em questão.</li>

			<li>Os links a este Site ficam restritos à Home Page. Os links
				diretos com páginas subsequentes ficam proibidos sem o consentimento
				prévio expresso do Condomínio San Raphael.</li>
			<li>É proibido o enquadramento deste Site por sites ou elementos
				de sites de terceiros não vinculados ao Novartis Group. Também ficam
				proibidos Links tipo in line (inseridos em um bloco de texto) ou
				qualquer outra maneira de incorporar partes deste Site em sites de
				terceiros não vinculados à Novartis AG.</li>
		</ol>
		<br />
		<p class="text-center">
			Hernani - Síndico<br /> Paulo André Barbosa - Sub síndico<br />
			Brasília, 15 de novembro de 2016.
		</p>
	</div>
</div>