.cropit-preview {
	background-color: #f8f8f8;
	background-size: cover;
	border: 5px solid #ccc;
	border-radius: 3px;
	margin-top: 7px;
	width: 250px;
	height: 250px;
}

.cropit-preview-image-container {
	cursor: move;
}

.cropit-preview-background {
	opacity: .2;
	cursor: auto;
}

.image-size-label {
	margin-top: 10px;
}

input, .export {
	/* Use relative position to prevent from being covered by image background */
	position: relative;
	z-index: 10;
	display: block;
}

.btns {
	display: inline;
	text-align: center;
	position: relative;
}

.icon-rotate-left {
	background-image:url("../img/rotate-left.png");
	background-repeat:no-repeat;
	width: 16px;
	height: 16px;
	cursor: pointer;
    position: relative;
    top: 1px;
    display: inline;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    display: inline-block;
}

.icon-rotate-right {
	background-image:url("../img/rotate-right.png");
	background-repeat:no-repeat;
	width: 16px;
	height: 16px;
	cursor: pointer;
    position: relative;
    top: 1px;
    display: inline;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    display: inline-block;
}

.cropit-image-zoom-input{
	display: inline;
}