.breadcrumb {
    background-color: #f5f5f5;
    border-radius: 4px;
    list-style: outside none none;
    margin-bottom: 0;
    padding: 0 15px;
}

.modal-footer {
    border-top: 1px solid #e5e5e5;
    margin-top: 15px;
    padding: 12px 20px;
    text-align: right;
}


/* Propriedades do COMBOBOX dinamico */
.custom-combobox {
	position: relative;
	display: inline-block;
}

.custom-combobox-input {
	margin: 0;
	padding: 5px 10px;
}

.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text
	{
	padding: 0.7em;
	text-indent: -9999999px;
}
.ui-button {
    padding: 0px 14px 6px;
}

.entrada{
	background-image:url("../img/fachada.jpg");
	background-repeat:no-repeat;
	width: 100%;
	height: 350px;
}

.page-header {
    margin: 10px 0 10px;
    border-radius: 20px;
}

h3.H3Menor {
    margin-bottom: 5px;
    margin-top: 5px;
}

.div-inicio-scroll {
    height: 150px;
    overflow: auto;
}


.msgTooltip{
	opacity: 100;
 	filter: alpha(opacity=100);
}

.ajuda{
	cursor: pointer;
}

.fundo-logo {
	background-image:url("../img/fundo-logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    background-size: 85%;
}

/* barra de rolagem */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 16px;
}

::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
  -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #666;
  -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: #666;
  -webkit-border-radius: 3px;
}

#btn-acao-tbl {
	width: 150px;
}