<!DOCTYPE html>
<html lang="pt-br">
<head>
<title>Impressão de comprovante de correio</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

<script language="javascript" type="text/javascript">
	var queryObj = function() {
	    var result = {}, keyValuePairs = location.search.slice(1).split("&");
	    keyValuePairs.forEach(function(keyValuePair) {
	        keyValuePair = keyValuePair.split('=');
	        result[decodeURIComponent(keyValuePair[0])] = decodeURIComponent(keyValuePair[1]) || '';
	    });
	    return result;
	}
	
	var carregaCorreio = function(co_item_correio) {
		$.ajax({
			  type: "POST",
			  dataType: "json",
			  loading: true,
			  url: "../../services/correios/listarEntradaCorrespondencia.php",
			  data: { co_item_correio: co_item_correio }
			}).success(function( data ){
				carrega(data[0]);
			}).fail(function(jqXHR, res) {
			    alert( "ERRO: " + res );
		});
	};
	var myParam = queryObj();
	carregaCorreio(myParam.co_item_correio);
</script>

</head>
<body>
<script>
var carrega = function(data) {
var applet='<applet archive="MP4200TH.jar" code=appletcondominio.MP4200TH.class width="100" height="100" >';
	applet+='<param name=data_hora value="' + data.dt_hr_chegada + '">';
	applet+='<param name=co_item_correio value="' + data.co_item_correio + '">';
	applet+='<param name=unidade value="' + data.unidade_impressora + '">';
	applet+='<param name=item value="' + data.item + '">';
	applet+='<param name=porteiro value="' + data.recebedor + '">';
	applet+='<param name=obs value="' + data.ds_observacao + '">';
	applet+='</applet>';
	document.write(applet);
}
</script>
</body>
</html>